
a.out

*.Po

*.Po

*.xcuserstate

autotools/autom4te.cache/output.0

autotools/autom4te.cache/output.1

autotools/autom4te.cache/requests

autotools/autom4te.cache/traces.0

autotools/autom4te.cache/traces.1

autotools/bibledit

*.o

*.xcscmblueprint

autotools/config.log

autotools/config.log

autotools/src/.deps/.dirstamp

autotools/src/.dirstamp

linux/autom4te.cache/output.1

linux/autom4te.cache/output.1

linux/autom4te.cache/output.2

linux/autom4te.cache/requests

linux/autom4te.cache/traces.1

linux/autom4te.cache/traces.2

linux/bibledit

linux/bibledit-1.0.tar.gz
