a.out
*.Po
*.Po
*.xcuserstate
*/autom4te.cache/*
autotools/bibledit
*.o
*.xcscmblueprint
autotools/config.log
autotools/config.log
autotools/src/.deps/.dirstamp
autotools/src/.dirstamp
linux/bibledit
*.suo
*.db
*.opendb
*.exe
*.pdb
*.Cache
*.resources
*.dll
*csproj.FileListAbsolute.txt
