a.out
*.Po
*.Po
*.xcuserstate
*/autom4te.cache/*
autotools/bibledit
*.o
*.xcscmblueprint
autotools/config.log
autotools/config.log
autotools/src/.deps/.dirstamp
autotools/src/.dirstamp
linux/bibledit
*.suo
*.db
*.opendb
*.exe
*.pdb
*.Cache
*.resources
*.dll
*csproj.FileListAbsolute.txt
*.ipch
*.winmd
*.pri
*.xbf
uwp/Bibledit/Bibledit/Debug*
uwp/Bibledit/Debug*

miniz/main

gsl/bsplines

gsl/nlfit

gsl/nlfit2

gsl/nlfit3

gsl/nlfit4
leastsquares/lq
*.pyc
*.pyc
*.apk
*.apk.d
*.ap_
*.dex
*.dex.d

android/bin/classes/org/bibledit/lab/BuildConfig.class
android/bin/classes/org/bibledit/lab/MainActivity$1$1.class
android/bin/classes/org/bibledit/lab/MainActivity$1.class
android/bin/classes/org/bibledit/lab/MainActivity.class
android/bin/classes/org/bibledit/lab/R$attr.class
android/bin/classes/org/bibledit/lab/R$drawable.class
android/bin/classes/org/bibledit/lab/R$id.class
android/bin/classes/org/bibledit/lab/R$string.class
android/bin/classes/org/bibledit/lab/R$layout.class
android/bin/classes/org/bibledit/lab/R.class
kubernetes/kube-cluster/kube-dependencies.retry
dot.NET/cef-sharp-nuget/gui/bibledit/bin/x64/Debug*
*.pak
dot.NET/cef-sharp-nuget/packages/cef*
c++17/x64/Debug/*
modbus-snmp/modbus-client
modbus-snmp/modbus-server
snmp/net-snmp-5.9.1
