.add, .ql-bg-add {
font-style: italic;
}
.b, .ql-align-b {
}
.bd, .ql-bg-bd {
font-weight: bold;
}
.bdit, .ql-bg-bdit {
font-style: italic;
font-weight: bold;
}
.bk, .ql-bg-bk {
font-style: italic;
}
.c, .ql-align-c {
font-size: 250%;
font-weight: bold;
}
.cd, .ql-align-cd {
font-size: 92%;
margin-top: 8mm;
margin-bottom: 4mm;
}
.cls, .ql-align-cls {
text-align: right;
}
.d, .ql-align-d {
font-style: italic;
text-align: center;
margin-top: 4mm;
margin-bottom: 4mm;
page-break-inside: avoid;
}
.dc, .ql-bg-dc {
font-style: italic;
}
.em, .ql-bg-em {
font-style: italic;
}
.f, .ql-align-f {
}
.fdc, .ql-bg-fdc {
}
.fe, .ql-align-fe {
}
.fk, .ql-bg-fk {
font-style: italic;
font-weight: bold;
}
.fl, .ql-bg-fl {
font-style: italic;
font-weight: bold;
}
.fm, .ql-bg-fm {
font-size: x-small;
vertical-align: super;
}
.fp, .ql-bg-fp {
}
.fq, .ql-bg-fq {
font-style: italic;
}
.fqa, .ql-bg-fqa {
font-style: italic;
}
.fr, .ql-bg-fr {
font-weight: bold;
}
.ft, .ql-bg-ft {
}
.fv, .ql-bg-fv {
}
.ib, .ql-align-ib {
font-size: 42%;
}
.iex, .ql-align-iex {
margin-top: 4mm;
margin-bottom: 4mm;
text-indent: 3.2mm;
}
.im, .ql-align-im {
}
.imi, .ql-align-imi {
margin-left: 6.4mm;
margin-right: 6.4mm;
}
.imq, .ql-align-imq {
font-style: italic;
margin-left: 6.4mm;
margin-right: 6.4mm;
}
.imt, .ql-align-imt {
font-size: 117%;
font-weight: bold;
text-align: center;
margin-top: 8mm;
margin-bottom: 4mm;
page-break-inside: avoid;
}
.imt1, .ql-align-imt1 {
font-size: 117%;
font-weight: bold;
text-align: center;
margin-top: 8mm;
margin-bottom: 4mm;
page-break-inside: avoid;
}
.imt2, .ql-align-imt2 {
font-size: 108%;
font-style: italic;
text-align: center;
margin-top: 6mm;
margin-bottom: 3mm;
page-break-inside: avoid;
}
.imt3, .ql-align-imt3 {
font-weight: bold;
text-align: center;
margin-top: 2mm;
margin-bottom: 2mm;
page-break-inside: avoid;
}
.imt4, .ql-align-imt4 {
font-style: italic;
text-align: center;
margin-top: 2mm;
margin-bottom: 2mm;
page-break-inside: avoid;
}
.imte, .ql-align-imte {
font-size: 167%;
font-weight: bold;
text-align: center;
page-break-inside: avoid;
}
.io, .ql-align-io {
margin-left: 12.7mm;
page-break-inside: avoid;
}
.io1, .ql-align-io1 {
margin-left: 12.7mm;
page-break-inside: avoid;
}
.io2, .ql-align-io2 {
margin-left: 19.1mm;
page-break-inside: avoid;
}
.io3, .ql-align-io3 {
margin-left: 25.4mm;
page-break-inside: avoid;
}
.io4, .ql-align-io4 {
margin-left: 31.8mm;
page-break-inside: avoid;
}
.ior, .ql-bg-ior {
}
.iot, .ql-align-iot {
font-weight: bold;
text-align: center;
margin-top: 8mm;
margin-bottom: 4mm;
page-break-inside: avoid;
}
.ip, .ql-align-ip {
text-indent: 5mm;
}
.ipi, .ql-align-ipi {
margin-left: 6.3mm;
margin-right: 6.3mm;
text-indent: 3.2mm;
}
.ipq, .ql-align-ipq {
font-style: italic;
margin-left: 6.4mm;
margin-right: 6.4mm;
text-indent: 3.2mm;
}
.ipr, .ql-align-ipr {
font-style: italic;
text-align: right;
margin-left: 6.4mm;
margin-right: 6.4mm;
}
.iq, .ql-align-iq {
font-style: italic;
margin-left: 25.4mm;
text-indent: -19.1mm;
}
.iq1, .ql-align-iq1 {
font-style: italic;
margin-left: 25.4mm;
text-indent: -19.1mm;
}
.iq2, .ql-align-iq2 {
font-style: italic;
margin-left: 25.4mm;
text-indent: -12.7mm;
}
.iq3, .ql-align-iq3 {
font-style: italic;
margin-left: 25.4mm;
text-indent: -6.4mm;
}
.is, .ql-align-is {
font-weight: bold;
text-align: center;
margin-top: 8mm;
margin-bottom: 4mm;
page-break-inside: avoid;
}
.is1, .ql-align-is1 {
font-weight: bold;
text-align: center;
margin-top: 8mm;
margin-bottom: 4mm;
page-break-inside: avoid;
}
.is2, .ql-align-is2 {
font-weight: bold;
text-align: center;
margin-top: 8mm;
margin-bottom: 4mm;
page-break-inside: avoid;
}
.it, .ql-bg-it {
font-style: italic;
}
.k, .ql-bg-k {
font-style: italic;
}
.k1, .ql-align-k1 {
page-break-inside: avoid;
}
.k2, .ql-align-k2 {
page-break-inside: avoid;
}
.li, .ql-align-li {
margin-left: 15.9mm;
margin-right: -9.3mm;
}
.li1, .ql-align-li1 {
margin-left: 12.7mm;
text-indent: -6.4mm;
}
.li2, .ql-align-li2 {
margin-left: 19.1mm;
text-indent: -6.4mm;
}
.li3, .ql-align-li3 {
margin-left: 25.4mm;
text-indent: -6.4mm;
}
.li4, .ql-align-li4 {
margin-left: 31.8mm;
text-indent: -6.4mm;
}
.lit, .ql-bg-lit {
font-weight: bold;
}
.m, .ql-align-m {
}
.mi, .ql-align-mi {
margin-left: 6.4mm;
margin-right: 6.4mm;
}
.mr, .ql-align-mr {
font-style: italic;
text-align: center;
margin-bottom: 4mm;
page-break-inside: avoid;
}
.ms, .ql-align-ms {
font-size: 117%;
font-weight: bold;
text-align: center;
margin-top: 16mm;
margin-bottom: 4mm;
page-break-inside: avoid;
}
.ms1, .ql-align-ms1 {
font-size: 117%;
font-weight: bold;
text-align: center;
margin-top: 16mm;
margin-bottom: 4mm;
page-break-inside: avoid;
}
.ms2, .ql-align-ms2 {
font-size: 117%;
font-weight: bold;
text-align: center;
margin-top: 16mm;
margin-bottom: 4mm;
page-break-inside: avoid;
}
.mt, .ql-align-mt {
font-size: 167%;
font-weight: bold;
text-align: center;
margin-top: 8mm;
margin-bottom: 4mm;
page-break-inside: avoid;
}
.mt1, .ql-align-mt1 {
font-size: 167%;
font-weight: bold;
text-align: center;
margin-top: 2mm;
margin-bottom: 4mm;
page-break-inside: avoid;
}
.mt2, .ql-align-mt2 {
font-size: 133%;
font-style: italic;
text-align: center;
margin-bottom: 2mm;
page-break-inside: avoid;
}
.mt3, .ql-align-mt3 {
font-size: 133%;
font-weight: bold;
text-align: center;
margin-top: 2mm;
margin-bottom: 2mm;
page-break-inside: avoid;
}
.mt4, .ql-align-mt4 {
text-align: center;
margin-top: 2mm;
margin-bottom: 2mm;
page-break-inside: avoid;
}
.mte, .ql-align-mte {
font-size: 167%;
font-weight: bold;
text-align: center;
margin-top: 8mm;
margin-bottom: 4mm;
page-break-inside: avoid;
}
.mte1, .ql-align-mte1 {
font-size: 167%;
font-weight: bold;
text-align: center;
margin-top: 8mm;
margin-bottom: 4mm;
page-break-inside: avoid;
}
.mte2, .ql-align-mte2 {
font-size: 133%;
font-style: italic;
text-align: center;
margin-bottom: 2mm;
page-break-inside: avoid;
}
.nb, .ql-align-nb {
text-align: justify;
}
.nd, .ql-bg-nd {
font-variant: small-caps;
}
.no, .ql-bg-no {
}
.ord, .ql-bg-ord {
font-size: x-small;
vertical-align: super;
}
.p, .ql-align-p {
text-align: justify;
text-indent: 3.2mm;
}
.p1, .ql-align-p1 {
text-indent: 3.2mm;
page-break-inside: avoid;
}
.p2, .ql-align-p2 {
margin-left: 3.2mm;
text-indent: 3.2mm;
page-break-inside: avoid;
}
.pc, .ql-align-pc {
text-align: center;
}
.pi, .ql-align-pi {
margin-left: 6.4mm;
margin-right: 6.4mm;
text-indent: 3.2mm;
}
.pi1, .ql-align-pi1 {
margin-left: 6.4mm;
margin-right: 6.4mm;
text-indent: 3.2mm;
}
.pi2, .ql-align-pi2 {
margin-left: 12.7mm;
margin-right: 6.4mm;
text-indent: 3.2mm;
}
.pi3, .ql-align-pi3 {
margin-left: 19.1mm;
margin-right: 6.4mm;
text-indent: 3.2mm;
}
.pm, .ql-align-pm {
margin-left: 6.4mm;
margin-right: 6.4mm;
text-indent: 3.2mm;
}
.pmc, .ql-align-pmc {
margin-left: 6.4mm;
margin-right: 6.4mm;
}
.pmo, .ql-align-pmo {
margin-left: 3.2mm;
margin-right: 3.2mm;
}
.pmr, .ql-align-pmr {
text-align: right;
margin-left: 6.4mm;
margin-right: 6.4mm;
}
.pn, .ql-bg-pn {
font-weight: bold;
text-decoration: underline;
}
.q, .ql-align-q {
margin-left: 25.4mm;
text-indent: -19.1mm;
}
.q1, .ql-align-q1 {
margin-left: 24.4mm;
text-indent: -19.1mm;
}
.q2, .ql-align-q2 {
margin-left: 25.4mm;
text-indent: -12.7mm;
}
.q3, .ql-align-q3 {
margin-left: 25.4mm;
text-indent: -6.4mm;
}
.qa, .ql-align-qa {
font-style: italic;
}
.qac, .ql-bg-qac {
font-style: italic;
}
.qc, .ql-align-qc {
text-align: center;
}
.qm, .ql-align-qm {
margin-left: 25.4mm;
text-indent: -19.1mm;
}
.qm1, .ql-align-qm1 {
margin-left: 25.4mm;
text-indent: -19.1mm;
}
.qm2, .ql-align-qm2 {
margin-left: 25.4mm;
text-indent: -12.7mm;
}
.qm3, .ql-align-qm3 {
margin-left: 25.4mm;
text-indent: -6.4mm;
}
.qr, .ql-align-qr {
text-align: right;
}
.qs, .ql-bg-qs {
font-style: italic;
}
.qt, .ql-bg-qt {
font-style: italic;
}
.r, .ql-align-r {
font-style: italic;
text-align: center;
margin-bottom: 4mm;
page-break-inside: avoid;
}
.rq, .ql-align-rq {
font-style: italic;
text-align: right;
margin-bottom: 4mm;
}
.s, .ql-align-s {
font-weight: bold;
text-align: center;
margin-top: 8mm;
margin-bottom: 4mm;
page-break-inside: avoid;
}
.s1, .ql-align-s1 {
font-weight: bold;
text-align: center;
margin-top: 8mm;
margin-bottom: 4mm;
page-break-inside: avoid;
}
.s2, .ql-align-s2 {
font-style: italic;
text-align: center;
margin-top: 8mm;
margin-bottom: 4mm;
page-break-inside: avoid;
}
.s3, .ql-align-s3 {
font-style: italic;
margin-top: 6mm;
margin-bottom: 3mm;
page-break-inside: avoid;
}
.s4, .ql-align-s4 {
font-style: italic;
margin-top: 6mm;
margin-bottom: 3mm;
page-break-inside: avoid;
}
.sc, .ql-bg-sc {
font-variant: small-caps;
}
.sig, .ql-bg-sig {
font-style: italic;
}
.sls, .ql-bg-sls {
font-style: italic;
}
.sp, .ql-align-sp {
font-style: italic;
margin-top: 8mm;
margin-bottom: 4mm;
page-break-inside: avoid;
}
.sr, .ql-align-sr {
font-weight: bold;
text-align: center;
margin-bottom: 4mm;
page-break-inside: avoid;
}
.tl, .ql-bg-tl {
font-style: italic;
}
.v, .ql-bg-v {
font-size: x-small;
vertical-align: super;
}
.va, .ql-bg-va {
}
.vp, .ql-bg-vp {
}
.wj, .ql-bg-wj {
color: #FF0000;
}
.x, .ql-align-x {
}
.xdc, .ql-bg-xdc {
}
.xk, .ql-bg-xk {
font-style: italic;
}
.xo, .ql-bg-xo {
font-weight: bold;
}
.xq, .ql-bg-xq {
font-style: italic;
}
.xt, .ql-bg-xt {
}
